<div #contact class="contact" id="contact">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-5">
      <div class="text-center line-height-30">
        <label class="contact-label"  data-aos="slide-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000">CONTACT</label>
        <div class="font-weight-bold text-center color-white" data-aos="slide-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000"><label>__________</label></div>
        <div class="mt-5">
          <label data-aos="fade-up" data-aos-easing="ease-out-cubic" class="font-weight-normal color-cyan"> Have a question or want to work together?</label>
        </div>
      </div>
    </div>
  </div>
</div>
