<div #about id="about" name="about" class="about">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-5">
      <div class="text-center line-height-30">
        <div class="header" data-aos="slide-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000">ABOUT</div>
        <div class="font-weight-bold text-center" data-aos="slide-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000"><label>__________</label></div>
      </div>
<!--      <div class="text-xs-center text-sm-center text-md-center text-lg-center">-->
<!--        <div class="short-desc" data-aos="slide-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">Creative Front-End Developer with 1+ years Experience in designing, developing and managing internal frameworks. Specializes in Angular framework and responsive design</div>-->
<!--      </div>-->
  </div>
      <div class="grid">
      <div class="position-relative mt-4 text-center width-235px" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
         <img class="hexagon" src="../../../assets/images/hexagon.svg">
        <img class="speedometer" src="../../../assets/images/speed-24px.svg"><br/>
        <label class="font-weight-bold label-color">Fast</label><br/>
        <label class="label-color">Fast load times and lag free interaction, my highest priority.</label>
      </div>
      <div class="position-relative mt-4 text-center width-235px" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1200">
        <img class="hexagon" src="../../../assets/images/hexagon.svg">
        <img class="responsive-screen" src="../../../assets/images/pc-smartphone.svg"><br/>
        <label class="font-weight-bold label-color">Responsive</label><br/>
        <label class="label-color">My layouts will work on any device, big or small.</label>
      </div>
      <div class="position-relative mt-4 text-center width-235px" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1400">
        <img class="hexagon" src="../../../assets/images/hexagon.svg">
        <img class="creativity" src="../../../assets/images/creativity.svg"><br/>
        <label class="font-weight-bold label-color">Creative</label><br/>
        <label class="label-color">Strong preference for easy to use, Creative UI.</label>
      </div>
      <div class="position-relative mt-4 text-center width-235px" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1600">
        <img class="hexagon" src="../../../assets/images/hexagon.svg">
        <img class="rocket" src="../../../assets/images/start-up.svg"><br/>
        <label class="font-weight-bold label-color">Dynamic</label><br/>
        <label class="label-color">Websites don't have to be static, I love making pages come to life.</label>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 mt-5" data-aos="slide-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
<!--      <div></div>-->
      <div class="text-xs-center text-sm-center text-md-center text-lg-center pic-margin-left">
      <div class="hexa">
        <div class="hex1">
          <div class="hex2">
            <img src="../../../assets/images/myself.jpg" alt="" width="420" height="420" />
          </div>
        </div>
      </div>
      </div>
      <div class="text-center">
      <label class="short-desc">Experienced Web Developer specializing in Front End Development. Have a hands on experience in Developing Angular, React and Vue applications. Skilled at writing well designed and efficient code using current practices in web development. I have a serious passion for UI effects, animations and creating intuitive, dynamic user experiences.</label>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mt-5 ml-4" data-aos="slide-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
      <div class="progressBar">
        <h4>HTML</h4>
        <div class="progressBarContainer">
          <div class="progressBarValue value-80"></div>
        </div>
        <span class="progress-percent">80%</span>
      </div>
      <div class="progressBar">
        <h4>CSS</h4>
        <div class="progressBarContainer">
          <div class="progressBarValue value-70"></div>
        </div>
        <span class="progress-percent">70%</span>
      </div>
      <div class="progressBar">
        <h4>Javascript</h4>
        <div class="progressBarContainer">
          <div class="progressBarValue value-80"></div>
        </div>
        <span class="progress-percent">80%</span>
      </div>
      <div class="progressBar">
        <h4>Angular</h4>
        <div class="progressBarContainer">
          <div class="progressBarValue value-80"></div>
        </div>
        <span class="progress-percent">80%</span>
      </div>
      <div class="progressBar">
        <h4>Vue</h4>
        <div class="progressBarContainer">
          <div class="progressBarValue value-70"></div>
        </div>
        <span class="progress-percent">70%</span>
      </div>
      <div class="progressBar">
        <h4>Node.Js</h4>
        <div class="progressBarContainer">
          <div class="progressBarValue value-60"></div>
        </div>
        <span class="progress-percent">60%</span>
      </div>
      <div class="progressBar">
        <h4>Java</h4>
        <div class="progressBarContainer">
          <div class="progressBarValue value-60"></div>
        </div>
        <span class="progress-percent">60%</span>
      </div>
      <div class="progressBar">
        <h4>UI design</h4>
        <div class="progressBarContainer">
          <div class="progressBarValue value-60"></div>
        </div>
        <span class="progress-percent">60%</span>
      </div>
      <div class="progressBar">
        <h4>React</h4>
        <div class="progressBarContainer">
          <div class="progressBarValue value-50"></div>
        </div>
        <span class="progress-percent">50%</span>
      </div>
    </div>
</div>
</div>
