<div #home id="home" name="home">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="text-xs-center text-sm-center text-md-center text-lg-center context z-index">
        <h1 class="hello animated slideInUp">Hello, I'm</h1>
        <h1 class="myName animated slideInDown" data-animation="slideInLeft" data-animation-delay="1000ms">Suresh Ramasamy.</h1>
        <h2 class="designation animated slideInRight" data-animation="slideInRight" data-animation-delay="1300ms">I'm a Software Engineer.</h2>
        <div class="text-center">
        <button class="btn btn-outline mt-3 pointer view-work-btn" (click)="goToAbout()">View My Work<span class="ml-2"><i class="fa fa-arrow-right arrow-rotate"></i></span></button>
      </div>
      </div>
    </div>
  </div>
  <div class="area" >
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
