.contact{
  background: #252934;
  height: 95vh;
  width: 100vw;
}
.contact-label{
  color:white;
  font-size: 30pt;
 }
.line-height-30{
  line-height: 30px;
}
.color-white{
  color:white;
}
.color-cyan{
  color:cyan;
}
@media only screen and (device-width: 768px) { // ipad screens


}
@media only screen and (max-width: 600px) {  // mobile screeens

}
